# 🔐 Variáveis de Ambiente e Segredos (CRÍTICO)
.env
*.env
secrets/

# 🐍 Python / Locust (Testes de Carga)
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
.tox/
.pytest_cache/

# 🐳 Docker / Jenkins (Arquivos locais gerados durante testes)
*.log
jenkins_home/
jenkins_data/

# 💻 OS e IDEs (Lixo gerado pelo sistema operacional ou editor)
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp